body{
    background-color: #fff;
}

.gallery {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-item {
    width: 360px;
}

.gallery-image {
    width: 100%;
    height: auto;
    border-radius: 2px;
}